.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
}

#id-modal-quizz-menu {
  width: 30%;
}

#btn-submit {
  margin-top: 10px;
}
#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 5%;
  right: 2%;
}

.toast {
  text-align: center;
}

.toast-answer {
  background-color: #e9ad2c;
  font-weight: 500;
  user-select: none;
}

.toast-create {
  background-color: #1da158;
  font-weight: 500;
  user-select: none;
}

.toast-delete {
  background-color: red;
  font-weight: 500;
  user-select: none;
}

.toast-update {
  background-color: #6363f1;
  font-weight: 500;
  user-select: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#warning {
  font-size: 20px;
  margin-top: 20px;
}
#warning i {
  font-size: 36px;
  margin-top: -15px;
}

#warning-wrapper {
  /* display: none; */
  transition: all 600ms;
  height: 4rem;
  margin-top: -4rem;
}

#foot img {
  height: 3.5rem;
}

#newQuiz {
  width: 50%;
}

#id-my-quizzes-main {
  width: 60%;
}

#id-all-quizzes-main {
  width: 60%;
}

#id-my-answers-main {
  width: 60%;
}

.shadow:hover {
  z-index: 10;
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.4),
    0px -5px 17px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.4),
    0px -5px 17px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.4),
    0px -5px 17px 0px rgba(0, 0, 0, 0.2);
}

.shadow:not(:hover) {
  z-index: 0;
}

.fixed-action-btn {
  bottom: 10rem;
  right: 5rem;
}

.delete {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
  color: #dd2c00;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listElt {
  position: relative;
  transition: all 400ms ease;
}

.row .col.s1 a {
  margin-top: 2rem;
}

.row .col.s1 a:first-child {
  margin-top: 5rem;
}
.row .col ul li.selected {
  background-color: #8cc5f3 !important;
}

a.chip {
  /* margin-left: 2rem; */
  float: right;
}

.deleteProp {
  color: red;
  font-size: 20px;
  margin-top: 2.5rem;
  cursor: pointer;
  text-align: center;
}

i.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#newQuest .row {
  margin: 0;
  padding: 0;
}

#newQuest .row .col {
  margin-bottom: 1rem;
  margin-top: 0rem;
  padding: 0;
}

ul.collection {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

#updateForm {
  margin-top: 2rem;
}

.updateQuestBtn {
  margin-right: 1.5rem;
}

.deleteAnswerBtn {
  margin-left: 2rem;
}

/* ------- Toggle buttons ------- */

/* Materialize Override */
#id-quizzes-filter span::before {
  display: none;
}

#id-quizzes-filter span::after {
  display: none;
}

#id-quizzes-filter span {
  height: inherit !important;
}

/* Toggle code */

#id-quizzes-filter label {
    /* float:left; */
    width:170px;
    margin:0;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#id-quizzes-filter label span {
    text-align:center;
    /* font-size: 32px; */
    padding:13px 0px;
    display:block;
}

#id-quizzes-filter label input {
    display: none;
}

#id-quizzes-filter input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#id-quizzes-filter label {
  border: none;
}

#id-quizzes-filter .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
/* 
  border: 1px solid black;
  border-radius: 10px; */
}

#id-quizzes-filter .row .col{
  margin: 0;
}

#id-quizzes-filter .row p {
  text-align: center;
}

div#id-quizzes-sort {
  margin-bottom: 0;
}

/* Positionnement de la pagination */

#id-page-right {
  margin-left: auto;
}

#id-page-left {
  margin-right: auto;
}

#id-page-center > li{
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

#id-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li.disabled {
  pointer-events: none;
}

#search {
  width: 23rem;
}

#id-login {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#quizz p {
  height: 2rem;
  /* padding-top: .6rem;
  padding-bottom: .6rem; */
  line-height: 32.4px
}